.ingredientCard {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: grab;
  }

  .ingredientImage {
    width: 100%;
    padding: 0 16px;
  }

  .ingredientPrice {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 4px 0;
  }