.ingredientsSection {
  height: 756px;
  overflow-y: auto;
}

.ingredientsList {
  margin: 24px 16px 0 16px;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px 24px;
}
