.pageWrapper {
  margin: auto;
  width: fit-content;
}

.header {
  margin: 36px 0 24px 0;
}

.container {
  display: grid;
  grid-template-columns: 580px 580px;
  gap: 60px;
}

.orderStatuses {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.orderList {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;

  height: 600px;
  overflow-y: auto;
}

.list {
  list-style: none;
}

.orders {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 140px;
}

.readyOrders {
  color: #00cccc;
}
