.modalPanel {
  padding-top: 20px;
  background-color: var(--modal-bg);
  min-width: 720px;
  min-height: 300px;
  border-radius: 40px;
}

.closeButton {
  position: absolute;
  top: 60px;
  right: 40px;
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
}
