.wrapper {
    margin: auto;
    margin-top: 120px;
    width: fit-content;

    display: grid;
    grid-template-columns: 320px auto;
    gap: 60px
}

.navButton {
    display: block;
    text-decoration: none;
    cursor: pointer;
}

.navButtonActive {
    color: #fff;
}

.navButton:hover {
    color: #fff;
}
