.header {
  position: sticky;
  z-index: 9999;
  background-color: var(--modal-bg);
}

.nav {
  margin: auto;
  width: 1280px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navButton {
  display: flex;
  height: fit-content;
  width: fit-content;
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;
  color: #fff;
}

.buttonGroupStart {
  display: flex;
  margin-top: 16px;
  margin-bottom: 16px;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}

.buttonGroupEnd {
  display: flex;
  margin-top: 16px;
  margin-bottom: 16px;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
}
