.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ingredientInfo {
  display: flex;
  gap: 20px;
  margin-bottom: 60px;
  margin-top: 32px;
  list-style: none;
}

.ingredientInfoBlock {
  text-align: center;
}
