.ingredientList {
  list-style: none;
  height: 656px;
  overflow-y: auto;
  width: fit-content;
  margin: auto;
}

.ingredientListHovered {
  border: 1px solid lime;
}

.listItemContent {
  display: flex;
  align-items: center;
}

.checkoutBlockWrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
